.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card{
    height: 80px;
    width: 300px;
    margin: 5px;
    background-color: rgb(5, 69, 74);
    color: white;
    text-align: center;
}

.title {
    color: rgb(5, 69, 74);
    text-align: center;
}